<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="font-family: 'Chelsea Market'; ">
    <nav style="background-color:#131313; border-radius:0px; margin-bottom:0px;" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right:10px;">
                <img style="width:30px; height:40px; padding-top:10px;" src="~/Imagenes/logo.png">
                <a style="color: darkcyan;" class="navbar-brand" href="#">Pet Oasis</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Principal", "Principal", "PetOasis", new { @style = "color:#C0C0C0;" })</li>
                <li>@Html.ActionLink("Adoptar", "Adoptar", "PetOasis", new { @style = "color:#C0C0C0;" })</li>
                <li class="dropdown">
                    <a style="color:#C0C0C0" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Tienda
                        <span class="caret"></span>
                    </a>
                    <ul style="background:#222;" class="dropdown-menu">
                        <li>@Html.ActionLink("Accesorios", "ComprarAccesorios", "PetOasis", null, new { @style = "color:#C0C0C0;" })</li>
                        <li>@Html.ActionLink("Comida", "ComprarAlimentos", "PetOasis", null, new { @style = "color:#C0C0C0;" })</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Nosotros", "Nosotros", "PetOasis", new { @style = "color:#C0C0C0;" })</li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                
                <li style="display:flex;"><img style="width:30px; height:40px; padding-top:10px;" src="~/Imagenes/carro.png">@Html.ActionLink("Carrito", "Carrito", "PetOasis", new { @style = "color:#C0C0C0;" })</li>
                <li style="display:flex;">
                    <!--en esta seccion visualizamos al usuario-->

                    @if (ViewBag.usuario == null)
                    {
                        <img style="width: 23px; height: 37px; padding-top: 14px;" src="~/Imagenes/login.png">@Html.ActionLink("Login", "Inicio", "PetOasis")
                    }
                    else
                    {
                <li style="display:flex;" class="dropdown">
                    <img style="width: 23px; height: 37px; padding-top: 14px;" src="~/Imagenes/user.png">
                    <a style="color: #C0C0C0;" class="dropdown-toggle " data-toggle="dropdown" href="#">
                        @ViewBag.usuario
                        <span class="caret"></span>
                    </a>
                    <ul style="background:#222; color:white;" class="dropdown-menu">
                        <li>@Html.ActionLink("Perfil", "Perfil", null, new { @style = "color:#C0C0C0;" })</li>
                        <li>@Html.ActionLink("Historial de compra", "HistorialPedidos", "PetOasis", null, new { @style = "color:#C0C0C0;" })</li>
                        <li>@Html.ActionLink("Cerrar Sesion", "Cerrar", null, new { @style = "color:#C0C0C0;" })</li>
                    </ul>
                </li>
                }

                    </li>
                    <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                </ul>
        </div>



    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
