<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <nav style="border-radius:0px; margin-bottom:0px;" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li>@Html.ActionLink("Adoptar", "Adoptar", "PetOasis")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Tienda
                        <span class="caret"></span>
                    </a>
                    <ul style="background:#222;" class="dropdown-menu">
                        <li>@Html.ActionLink("Accesorios", "ComprarAccesorios", "PetOasis")</li>
                        <li>@Html.ActionLink("Comida", "ComprarAlimentos", "PetOasis")</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                
                <li style="display:flex;"><img style="width:30px; height:40px; padding-top:10px;" src="~/Imagenes/carrito.png">@Html.ActionLink("Carrito", "Carrito", "PetOasis")</li>
                <li style="display:flex;font-family:Arial, Helvetica, sans-serif;">
                    <!--en esta seccion visualizamos al usuario-->

                    @if (ViewBag.usuario == null)
                    {
                        <a >@Html.ActionLink("Login", "Inicio", "PetOasis")</a>
                    }
                    else
                    {
                <li class="dropdown">
                    <a style="color: #9d9d9d;" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" href="#">
                        @ViewBag.usuario
                        <span class="caret"></span>
                    </a>
                    <ul style="background:#222;" class="dropdown-menu">
                        <li>@Html.ActionLink("Perfil", "Perfil")</li>
                        <li>@Html.ActionLink("Historial de compra", "HistorialPedidos", "PetOasis")</li>
                        <li>@Html.ActionLink("Cerrar Sesion", "Cerrar")</li>
                    </ul>
                </li>
                }

                    </li>
                    <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                </ul>
        </div>



    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
