@model IEnumerable<PetOasis.Models.Animal>

<style>
    .img-mantenimiento {
        width: 65px;
        height: 65px;
        border: 2px solid;
        border-color:black;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rescate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tamaño)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disponibilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgAni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.codigo.ToString(), "ManAnimal",new { id=item.codigo})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rescate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tamaño)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disponibilidad)
        </td>
        <td>
            <img class="img-mantenimiento" src="@Url.Content(item.imgAni)" />
        </td>
    </tr>
}

</table>
