@model PetOasis.Models.Animal

@{
    ViewBag.Title = "AnimalAdoptar";
}
<style>
    h2 {
        text-align: center;
    }

    table {
        margin: 0 auto;
    }

    body {
        background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
        padding-top: 0px;
    }
</style>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rescate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rescate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tamaño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tamaño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nacimiento)
        </dd>

        <dd>
            <img src="@Url.Content(Model.imgAni)" />
        </dd>

    </dl>
</div>
<p>
        @Html.ActionLink("Retornar", "Adoptar", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Adoptar", "SolicitarAdopcion", new { id = Model.codigo }, new { @class = "btn btn-primary" })
</p>
