@model IEnumerable<PetOasis.Models.PedidoHeader>

@{
    ViewBag.Title = "HistorialPedidos";
}

<style>
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }
    html{
        width:100%;
    }
    .container.body-content {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .table {
        margin: 0 auto;
        padding: 20px;
        color:white;
        background-color: rgba(0, 0, 0, 0.8);
        float: left;
        width: 80%;
        margin-inline:10%;
        position: relative;
    }

    body {
        background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
        padding-top: 0px;
    }
</style>

<h2>HistorialPedidos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.estado)
            </td>

            <td style="text-align:right; padding-right:3%;">
                @Html.ActionLink("Detalle pedido", "DetallePedido", new { id = item.numero })
            </td>
        </tr>
    }

</table>
