@model IEnumerable<PetOasis.Models.Solicitud>

@{
    ViewBag.Title = "Solicitudes";
}
<style>
    h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    table {
        margin: 0 auto;
        margin: 0 auto;
        padding: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        float: left;
        width: 94%;
        position: relative;
    }

    body {
        background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
        padding-top: 0px;
    }
</style>
<h2>Solicitudes</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.animal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>

        <td  style="width:18%;">
            <img style="width:40%; height:60px; border:2px solid black; background-color:#E2F4F7;" src="@Url.Content(string.Format("~/Imagenes/Animales/{0}.png",item.animal))" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>

    </tr>
}

</table>
